---
layout: default
next: /overview/
---
<article>
  {% include main_title.html title=site.github.project_title subtitle=site.github.project_tagline show_vanity_links=true %}

  <p>
    enum-flags is a C++ library that allows you to convert scoped enums into bit
    flags.<br/>
    You can use it as simple as this:
  </p>
  {% highlight c++ %}{% include_relative examples/example0.cpp %}{% endhighlight %}

  <h2>Documentation</h2>
  <ul>
    <li>
      <h3>
        <a href="{{ site.baseurl }}/overview/index.html">
          Overview
        </a>
      </h3>
      An overview of the features and the design.
    </li>

    <li>
      <h3>
        <a href="{{ site.baseurl }}/tutorial/index.html">
          Tutorial
        </a>
      </h3>
      A tutorial that shows how to use the library.
    </li>

    <li>
      <h3>
        <a href="{{ site.baseurl }}/reference/index.html">
          Reference
        </a>
      </h3>
      API reference.
    </li>
  </ul>
</article>
