---
layout: default
---
<article>
  {% include main_title.html title=page.title subtitle=page.subtitle home=true %}
  <nav class="doc-nav top">
    {% if page.prev %}
      <a class="prev-page" href="{{ site.baseurl }}{{ page.prev }}">
        <i class="icon"></i>
        <span class="text">Back</span>
      </a>
    {% endif %}
    {% if page.next %}
      <a class="next-page" href="{{ site.baseurl }}{{ page.next }}">
        <i class="icon"></i>
        <span class="text">Next</span>
      </a>
    {% endif %}
  </nav>
  <div id="main-content">
    {{ content }}
  </div>
</article>